.mybids-container {
  text-align: center;
  padding: 20px;
  background: #f8f9fa;
  min-height: 100vh;
  background-color: #FFBD14;
}

.mybids-container h2 {
  font-size: 32px;
  margin-top: 50px;
  color: #333;
  font-weight: bold;
}

.bids-table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.bids-table th, .bids-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.bids-table th {
  background-color: #553B06;
  color: white;
}

.bids-table tr.winning {
  background-color: #f8f8f8;
}

.bids-table tr.outbid {
  background-color: #f8f8f8;
}

.status {
  font-weight: bold;
}
